<div class="sidebar">
  <div [routerLink]="['/']" class="logo">
    <img src="/assets/images/logo.png" alt="" />
  </div>
  <div class="divider"></div>
  <div class="tabs">
    <!-- pocetna -->
    <div [routerLink]="['/']" class="tab">
      <mat-icon class="icon">home</mat-icon>
      <span>Početna</span>
    </div>
    <div class="divider"></div>
    <!-- uplatnica -->
    <div [matMenuTriggerFor]="uplatnica" class="tab">
      <mat-icon class="icon">receipt_long</mat-icon>
      <span mat-button>Informacije za uplatnicu</span>
      <mat-menu #uplatnica="matMenu">
        <button [routerLink]="['/uplatnica/valuta']" mat-menu-item>Valuta</button>
        <button mat-menu-item [routerLink]="['/uplatnica/model']">Model</button>
        <button [routerLink]="['/uplatnica/radnik']" mat-menu-item>Radnik</button>
      </mat-menu>
    </div>
    <div [routerLink]="['/']" class="tab">
      <mat-icon class="icon">payment</mat-icon>
      <span>Uplatnica</span>
    </div>
    <div class="divider"></div>
    <!-- ugovor -->
    <div [matMenuTriggerFor]="profaktura" class="tab">
      <mat-icon class="icon">format_list_bulleted</mat-icon>
      <span mat-button>Informacije za profakturu</span>
      <mat-menu #profaktura="matMenu">
        <button [routerLink]="['/profaktura/lokacija']" mat-menu-item>Lokacije</button>
        <button mat-menu-item [routerLink]="['/profaktura/prevoz']">Prevoz</button>
        <button [routerLink]="['/profaktura/nacin-placanja']" mat-menu-item>Placanje</button>
        <button [routerLink]="['/profaktura/rezervacija']" mat-menu-item>Rezervacija</button>
        <button [routerLink]="['']" mat-menu-item>Korisnik</button>
        <button [routerLink]="['']" mat-menu-item>Ovlasceno lice</button>
      </mat-menu>
    </div>
    <div [routerLink]="['/']" class="tab">
      <mat-icon class="icon">receipt</mat-icon>
      <span>Profaktura</span>
    </div>
    <div class="divider"></div>
  </div>
</div>
