:host {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 550px;
  max-width: 90%;
  margin: 70px auto 0px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

mat-form-field {
  width: 100%;
}

mat-form-field.half {
  width: 48%;
  &:not(:first-child) {
    margin: 0 5px;
  }
}

h1 {
  margin-bottom: 30px;
}

.button {
  display: block;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 30px;
}

a {
  margin: 20px 0;
  display: inline-block;
  opacity: 0.4;
  text-decoration: underline;
  cursor: pointer;
}

mat-spinner {
  margin: auto;
}

.table {
  padding-top: 25px;
  table {
    width: 100%;

    .mat-cell {
      text-align: left;
    }
  }
}
