$app-primary: (
	50: #e9e6f3,
	100: #c7c1e0,
	200: #a298cc,
	300: #7c6fb8,
	400: #6050a8,
	500: #443199,
	600: #3e2c91,
	700: #352586,
	800: #2d1f7c,
	900: #1f136b,
	A100: #aca1ff,
	A200: #7e6eff,
	A400: #513bff,
	A700: #3a22ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);
