<div class="container">
    <div class="content">
      <h1>Dobrodosli u <strong class="puzzle">Puzzle Group</strong> admin aplikaciju</h1>
      <div class="options">
        <div [routerLink]="['/profaktura']" class="card profakture"><div class="layer"></div><p class="text">Profakture</p></div>
        <div [routerLink]="['/profaktura/prevoz']" class="card prevoznici"><div class="layer"></div><p class="text">Prevoznici</p></div>
        <div [routerLink]="['/profaktura/korisnik']" class="card korisnici"><div class="layer"></div><p class="text">Korisnici</p></div>
        <div [routerLink]="['/uplatnica']" class="card uplatnice"><div class="layer"></div><p class="text">Uplatnice</p></div>
      </div>
    </div>
  </div>