<div class="container">
    <div class="content">
      <h1>Dobrodosli u <strong class="puzzle">Puzzle Group</strong> admin aplikaciju</h1>
      <div class="options">
        <div [routerLink]="['']" class="card proizvodi"><div class="layer"></div><p class="text">/</p></div>
        <div [routerLink]="['']" class="card knjiga-tocenja"><div class="layer"></div><p class="text">/</p></div>
        <div [routerLink]="['']" class="card klijenti"><div class="layer"></div><p class="text">/</p></div>
        <div [routerLink]="['']" class="card racuni"><div class="layer"></div><p class="text">/</p></div>
      </div>
    </div>
  </div>
  