.container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    margin: 16px 8px 16px 0;
  }

  button.custom-color{
    background: chocolate;
    color: white;
  }
}
