<div class="container">
    <div class="content">
      <h1>Uplatnice</h1>
      <div class="buttons">
        <button color="warn" [routerLink]="['/uplatnica/nova-uplatnica']" mat-raised-button>
          Nova uplatnica
        </button>
      </div>
  
      <app-table
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
        [actionsForTable]="actions"
        [tableWidth]="'1150px'"
        [loading]="loading"
        (emitOnClick)="onClickAction($event)"
      ></app-table>
    </div>
  </div>
  